html{
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 14px;
	color: black;
	background-image: url('../background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

ul{
	list-style: none;
	padding: 0;
}

li {
	margin: 10px 0;
}

hr {
	background-color: gray;
	border: none;
	height: 2px;
}

header {
	width: 1000px;
	height: 150px;
	position: relative;
	margin: 10px auto 0 auto;
	background-color: #2785E3;
	border: black 3px solid;
	border-radius: 20px 20px 0 0;
}

input[type=text], input[type=password] {
	width: 200px;
	height: 30px;
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid gray;
	font-family: verdana;
	font-size: 14px;
}



.logo{
	color: white;
	margin: 30px;
}

nav {
	width: 1000px;
	height: 40px;
	background-image: linear-gradient(#000, #4C4B52);
	border-radius: 0 0 5px 5px;
	position: relative;
	margin: 0 auto 10px auto;
	border: 3px black solid;
	border-top: none;
	padding: 0;
}

nav > ul {
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0 20px;
}

nav > ul > li{
	position: relative;
	float: left;
	display: inline-block;
	margin: 0 20px 0 0;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}

nav > ul > li:hover{
	background-image: linear-gradient(#4C4B52, #000);
}

nav > ul > li > a{
	font-size: 16px;
	vertical-align: middle;
	position: relative;
	top: 8px;
	padding: 0 5px;
}

nav > ul > li > a:link{
	color: white;
	text-decoration: none;
}

nav > ul > li > a:hover{
	color: #545454;
	text-decoration: none;
}

nav > ul > li > a:visited{
	color: white;
	text-decoration: none;
}

.search {
	position: absolute;
	right: 30px;
	top: 5px;
}

.search:hover {
	background-image: none;
}

input[name=search_bar]{
	height: 30px;
	border-radius: 5px 0 0 5px;
	padding-left: 5px;
	border: none;
}

input[name=search_submit]{
	height: 30px;
	width: 40px;
	position:relative;
	background-color: #2785E3;
	border: none;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

.content {
	width: 1000px;
	height: auto;
	display: block;
	position: relative;
	min-height: 600px;
	margin: 10px auto;
	border: black 3px solid;
	border-radius: 20px;
	background-color: white;
}

.main_content{
	width:700px;
	height: auto;
	position: absolute;
	padding: 10px 20px;
	border-radius: 20px 0 0 20px;
}

.reg_form {
	height: auto;
}

aside {
	width: 300px;
	height: auto;
	min-height: 590px;
	position: relative;
	float: right;
	border-left: 1px black dashed;
}

.widget {
	width: 80%;
	min-height: 100px;
	margin: 20px auto;
	position: relative;
}

.btn {
	color: black;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 10px;
}

.btn-green {
	background-color: #7BE37B;
	color: #275423;
	border-color: #286128;
}

.btn-gray{
	background-color: #D1D1D1;
}

.btn-blue {
	background-color: #C2E6FF;
	color: #31708f;
	border-color: #31708f;
}

.profile_pic {
	width: 200px;
	background-color: #D1D1D1;
	padding: 5px;
	border: dashed 1px gray;
}

.red-line{
	display: block;
	height: 1px;
	background-color: #a94442;
    border: 0;
	border-top: 1px solid #a94442;
    margin: 1em 0;
	padding: 0
}

.profile_picture {
	background: #f9f9f9;
	width: 100px;
	height: 100px;
	border: 1px gray solid;
	padding: 5px;
	box-shadow: 5px 5px 5px gray;
}

.profile_picture_settings {
	width: 200px;
	height: 200px;
	border: 1px dashed #ccc;
	padding: 5px;
	box-shadow: none;
}

.profile_picture > img {
	width: 100%;
	height: 100%;
}

.picture-profile {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 7px 7px 7px gray;
}

.about-me {
	color: #31708f;
	background-image: linear-gradient(to bottom, #d9edf7, #b9def0);
	padding: 10px;
	border: 2px solid #9acfea;
	border-radius: 10px;
	box-shadow: 7px 7px 6px #C8E8F7;
}

.about-me-label {
	font-weight: bold;
}

.about-me-info{
	font-weight: initial;
}

.search-result-row {
	width: 100%;
	height: 100px;
	border: 1px black solid;
	margin: 5px 0;
	position: relative;
}

.search-img{
	width: 90px;
	height: 90px;
	margin: 5px;
	position: absolute;
}

.search-info {
	height: 90px;
	width : 500px;
	position: relative;
	margin: 5px;
	float: right;
}

footer {
	width: 1000px;
	height: 40px;
	position: relative;
	margin: auto;
	color: white;
	text-align: center;
	vertical-align: middle;
	border-radius: 10px;
	background-image: linear-gradient(#4C4B52, #000);
}